---

- name: "Create jasypt.d install directory"
  ansible.builtin.file:
    dest: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d"
    state: "directory"
    mode: "0755"

- name: "Unarchive jasypt"
  ansible.builtin.unarchive:
    src: "https://github.com/jasypt/jasypt/releases/download/\
          jasypt-{{ adrianjuhl__jasypt__jasypt_version }}/jasypt-{{ adrianjuhl__jasypt__jasypt_version }}-dist.zip"
    dest: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d"
    copy: false

- name: "Configure jasypt 'current' directory link"
  ansible.builtin.file:
    src: "jasypt-{{ adrianjuhl__jasypt__jasypt_version }}"
    dest: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d/current"
    state: "link"

- name: "Patch scripts with better method for determining the script directory"
  # Use a method to determine the directory that the script resides in that
  # also works when the script is invoked via a sybolic link.
  # See https://stackoverflow.com/a/1482133
  ansible.builtin.replace:
    path: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d/current/bin/{{ item.filenamebase }}.sh"
    regexp: |-
      BIN_DIR=`dirname \$0`
    replace: |-
      BIN_DIR="$(dirname "$(readlink --canonicalize "${0}")")"
    mode: "0755"
  loop:
    - filenamebase: "decrypt"
    - filenamebase: "digest"
    - filenamebase: "encrypt"
    - filenamebase: "listAlgorithms"

- name: "Configure a link for each script"
  ansible.builtin.file:
    src: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d/current/bin/{{ item.filenamebase }}.sh"
    dest: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt-{{ item.filenamebase }}"
    state: "link"
  loop:
    - filenamebase: "decrypt"
    - filenamebase: "digest"
    - filenamebase: "encrypt"
    - filenamebase: "listAlgorithms"

- name: "Create adrianjuhl.jasypt-readme.txt file"
  ansible.builtin.copy:
#    content: "Ansible role adrianjuhl.jasypt version: 0.7.0"
    content: |
      Ansible role adrianjuhl.jasypt version: 0.7.0
      jasypt version: {{ adrianjuhl__jasypt__jasypt_version }}
    dest: "{{ adrianjuhl__jasypt__install_bin_directory }}/jasypt.d/adrianjuhl.jasypt-readme.txt"
    mode: "0644"

